# ssh
.ssh/id_*
.ssh/authorized_keys*
.ssh/known_hosts*

# zsh
.zsh/history*

# ubooquity
.config/ubooquity/logs/
.config/ubooquity/*.db
.config/ubooquity/webadmin.cred
.config/ubooquity/cache/
.config/ubooquity/fonts/

# protonmail
.config/protonmail/**/*.enc
.config/protonmail/*/imap-sync/