[Unit]
Description=Ubooquity Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/java -jar /home/nick/.local/bin/Ubooquity.jar --headless --workdir /home/nick/.config/ubooquity --remoteadmin

[Install]
WantedBy=default.target

