[Unit]
Description=Run `cmg-util backup`
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/home/nick/dev/projects/cmg-util
ExecStart=/home/nick/dev/projects/cmg-util/scripts/cmg-util-service.sh
StandardOutput=journal
StandardError=journal
SyslogIdentifier=cmg-util

[Install]
WantedBy=default.target