[Unit]
Description=User's GPG Agent
IgnoreOnIsolate=True

[Service]
Type=forking
ExecStart=/usr/bin/gpg-agent --pinentry-program=/usr/bin/pinentry-curses --daemon
Restart=on-abort

[Install]
WantedBy=default.target
