[Unit]
Description=ProtonMail Bridge Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/protonmail-bridge --noninteractive
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target

