[Unit]
Description=socat forward for protonmail-bridge SMTP
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/socat TCP-LISTEN:1025,bind=192.168.1.6,fork,reuseaddr TCP:127.0.0.1:1025
Restart=always
RestartSec=5

[Install]
WantedBy=default.target